@model TournamentScheduler.Models.Tournament

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentName)
        </dd>

        <dt>
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            Started
        </dt>

        <dd>
            @if (Model.TournamentStarted == true)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </dd>

    </dl>
</div>
<hr />
<h4>Teams</h4>
<table>
    @foreach (var team in Model.Teams)
    {
        <tr>
            <td>
                @team.TeamName
            </td>
            <td>

            </td>
            <td>
                @if (Model.TournamentStarted == false)
                {
                <p>@Html.ActionLink("Delete", "Delete", "Team", new { id = team.TeamID }, null)</p>
                }

            </td>
        </tr>

    }
</table>

<!--if tournament.tournamentstarted = false-->
    @if (Model.TournamentStarted == false)
    {
        <p></p>
        <p>@Html.ActionLink("Add a Team", "Create", "Team", new { TeamTournamentID = Model.TournamentID }, null)</p>
    }
    else
    {
        <p></p>
        <p>Unable to add teams after the tournament has started</p>
    }

<hr />

    @if (Model.TournamentStarted == false)
    {
        <p>@Html.ActionLink("Start Tournament", "RoundRobin", "Tournament", new { id = Model.TournamentID }, null)</p>
    }
    else
    {
        <p>@Html.ActionLink("View Tournament", "RoundRobin", "Tournament", new { id = Model.TournamentID }, null)</p>
    }

<hr />
<p>
    @Html.ActionLink("View All Tournaments", "Index")
</p>
