@model TournamentScheduler.Models.Tournament

@{
    ViewBag.Title = "Round Robin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Round Robin: @Model.TournamentName</h2>
<br />
<h4>Team Scores</h4>
<br />
<table>
    <tr>
        <th class="col-lg-2">
            Team
        </th>
        <th class="col-lg-1">
            Score
        </th>
        <th class="col-lg-9"></th>
    </tr>

    @foreach (var team in Model.Teams)
    {
    <tr>
        <td class="col-lg-2">
            @team.TeamName
        </td>
        <td class="col-lg-1">
            @{
                int scoreCount = 0;
                foreach (var fixture in Model.RRFixtures)
                {
                    if (fixture.Team1Name == team.TeamName)
                    {
                        if (fixture.Team1Score == 1)
                        {
                            scoreCount += 1;
                        }
                    }
                    if (fixture.Team2Name == team.TeamName)
                    {
                        if (fixture.Team2Score == 1)
                        {
                            scoreCount += 1;
                        }
                    }
                }
                <p>@scoreCount</p>
            }
        </td>
        <td class="col-lg-9"></td>
    </tr>
    }
</table>
<br />
<h4>Fixtures</h4>
<br />
@{
    int FinalRound = 0;
    foreach (var fixture in Model.RRFixtures)
    {
        if (fixture.RoundNumber > FinalRound)
        {
            FinalRound = fixture.RoundNumber;
        }
    }
}

@for (var roundCount = 1; roundCount <= FinalRound; roundCount++)
{
    <h4>Round @roundCount</h4>
    <table>
        <tr>
            <th class="col-lg-1">Team 1 Score</th>
            <th class="col-lg-3">Team 1</th>
            <th class="col-lg-1"></th>
            <th class="col-lg-3">Team 2</th>
            <th class="col-lg-1">Team 2 Score</th>
            <th class="col-lg-3"></th>
        </tr>

        @foreach (var fixture in Model.RRFixtures)
        {
            if (roundCount == fixture.RoundNumber)
            {
                if (fixture.Team1Name != null)
                {
                    if (fixture.Team2Name != null)
                    {
                        <tr>
                            <td class="col-lg-1">
                                @fixture.Team1Score
                            </td>
                            <td class="col-lg-3">
                                @fixture.Team1Name
                            </td>
                            <td class="col-lg-1">
                                VS
                            </td>
                            <td class="col-lg-3">
                                @fixture.Team2Name
                            </td>
                            <td class="col-lg-1">
                                @fixture.Team2Score
                            </td>
                            <td class="col-lg-3">
                                <p>@Html.ActionLink("Choose Winner", "Edit", "RRFixture", new { id = fixture.RRFixtureID }, null)</p>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </table>
    <br />
}
